@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.marquee {
  animation: marquee 80s linear infinite;
  width: max-content;
}

.marquee:hover {
  animation-play-state: paused;
}
